.footer {
  position: relative;
  box-sizing: border-box;
  background-color: #0a2850;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 60px 80px;
}

.footer__logo {
  position: relative;
  z-index: 2;
  width: 105px;
  height: 39px;
}

.footer__circle {
  position: absolute;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background-color: #2f80ed;
  z-index: 0;
  margin: 0;
  padding: 0;
  top: -128px;
  left: -44px;
}

.footer__social {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer__social-heading {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-family: "Inter";
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__list-item {
  margin-left: 10px;
}

.footer__social-link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  padding-bottom: 16px;
}

.footer__social-link:hover {
  color: var(--hover-color);
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-left: 80px;
  padding-bottom: 60px;
  padding-top: 108px;
}
