.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -20px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  margin: 0;
}

.nav__link {
  color: var(--main-font-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
