.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  overflow-x: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-font-color);
}
