:root {
  --header-background: #ffffff;
  --main-font-color: #000000;
  --accent-color: #2f80ed;
  --grey-text-color: #6f6f6f;
  --recipes-background: #0a2850;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  overflow-x: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-font-color);
}
