.recipes {
  background-color: var(--recipes-background);
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
  color: #ffffff;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  max-width: 580px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}
