.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 120px;
  text-align: center;
  z-index: -1;
  position: relative;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  font-style: normal;
  line-height: 52px;
  margin: 0 auto 80px;
  padding-top: 100px;
  text-align: center;
}
