@import "../blocks/header.css";
@import "../blocks/nav.css";
@import "../blocks/recipes.css";
@import "../blocks/reservation.css";
@import "../blocks/form.css";
@import "../blocks/footer.css";
@import "../blocks/page.css";
