:root {
  --header-background: #ffffff;
  --main-font-color: #000000;
  --accent-color: #2f80ed;
  --grey-text-color: #6f6f6f;
  --recipes-background: #0a2850;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  overflow-x: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-font-color);
}

.header {
  background-color: var(--header-background);
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -20px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  margin: 0;
}

.nav__link {
  color: var(--main-font-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.header__title {
  font-weight: 500;
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
  margin: 183px 0 28px 0;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: var(--accent-color);
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 80px 0 0;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 0;
  z-index: -1;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 88px;
}

.header__paragraph {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
  margin-left: 80px;
  margin-right: 80px;
}

.header__paragraph-text {
  margin: 0;
}

.header__paragraph-text_color_grey {
  color: var(--grey-text-color);
  margin-top: 5px;
}

.recipes {
  background-color: var(--recipes-background);
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
  color: #ffffff;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  max-width: 580px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}
